<h1><%= @question.title %></h1>

<p><%= @question.description %></p>

<h4><%= link_to "Answer this Question", new_question_answer_path %></h4>

<ul>
  <% @answers.each do |answer| %>
    <li><%= answer.body %></li>
  <% end %>
</ul>
